:root {
  --cover-image: url("../images/cover-image.png");
  --font-family: 'IBM Plex Mono';
  --font-size: 18px;
  --bg-color: #000028;
  --color-text-h3: #000028;
  --color-box-hover: #ff007040;
  --color-text-title: #db00ff;
  --accent-color: #ff0070;
  --color-text-paragraph: #f1b2ce;
  --bg-image-dark: url("../images/cover-image-dark.png");
}